<h1><center>  lab 5: Knowledge Inference Models </center>
    
<img src="https://files.realpython.com/media/Encodings--Number-Systems_Watermarked.906d62e907dc.jpg" width="500">

```Created by Jinnie Shin (jinnie.shin@coe.ufl.edu)```\
```Date: May 26th 2022```

```Image source: https://realpython.com/python-encodings-guide/g```



<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmNf86oJnfhpkPA9LnrFnAbfwF2VywPYpB_w&usqp=CAU" align="left" width="70" height="70" align="left"> 

 ### Required Packages or Dependencies

In [2]:
#!pip install { } ! in case you run into the `package not avaialble` error
import numpy as np
import pandas as pd
import pyBKT # make sure you download this package first #
from pyBKT.models import Model

# Bayesian Knowledge Tracing
## Dataset
> We will use the `cognitivetutor` data. \
> Once you ran the following code, go back to your jupyter notebook directory to see whether your datasets (`ct.csv`) are stored correctly
> **pyBKT**: https://github.com/CAHLR/pyBKT


### Fetch our dataset from github to your local desk

In [14]:
model = Model(seed = 42, num_fits = 1, parallel = True)

model.fetch_dataset('https://raw.githubusercontent.com/CAHLR/pyBKT-examples/master/data/ct.csv', '.')

### Let's import your dataset using `pandas`

In [19]:
#### Your code here #######
ct_df =pd.read_csv('ct.csv', encoding = 'latin')
ct_df.head()

#### Mini task 

# (1) How many students?


# (2) How many steps for each student (on average)?


# (3) How many types of knowledge components (KCs)?

,Unnamed: 0,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,1576,1927,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-001,1,SimplifiedNumeratorQuantity1,2006-11-14 10:18:00.0,2006-11-14 10:18:05.0,2006-11-14 10:18:05.0,2006-11-14 10:18:05.0,5.00000,5.00000,NaN,1,0,0,1,Calculate unit rate,1
1,1580,1931,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-001,1,SimplifiedNumeratorQuantity2,2006-11-14 10:18:11.0,2006-11-14 10:18:17.0,2006-11-14 10:18:34.0,2006-11-14 10:18:34.0,23.00000,NaN,23.00000,0,1,0,1,Calculate unit rate,2
2,1596,1947,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-012,1,SimplifiedNumeratorQuantity1,2006-11-14 10:50:52.0,2006-11-14 10:50:57.0,2006-11-14 10:51:11.0,2006-11-14 10:51:11.0,18.00000,NaN,18.00000,0,1,0,1,Calculate unit rate,3
3,1597,1948,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-012,1,SimplifiedNumeratorQuantity2,2006-11-14 10:51:11.0,2006-11-14 10:51:14.0,2006-11-14 10:51:14.0,2006-11-14 10:51:14.0,3.00000,3.00000,NaN,1,0,0,1,Calculate unit rate,4
4,1612,1963,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-054,1,SimplifiedNumeratorQuantity2,2006-11-28 09:53:43.0,2006-11-28 09:53:47.0,2006-11-28 09:53:56.0,2006-11-28 09:53:56.0,13.00000,NaN,13.00000,0,1,0,1,Calculate unit rate,5

<img src="https://i.pinimg.com/736x/2e/aa/7d/2eaa7d5021ca7c3c98bc93b98b9646fe.jpg" align="left" width="70" height="70" align="left">

 ## Task 1: BKT usign pyBKT 
 > **STEP 1**: Load a bkt model - `model = Model(seed = 42, num_fits = 1, parallel = True)`\
 > **STEP 2**: Fit (Learn) model weights `model.fit(data_path = "ct.csv")`\
 > **STEP 3**: Evaluate the model fit `model.evaluate(data = ct_df)` for RMSE and `model.evaluate(data = ct_df, metri='auc')` for AUC.\
 > **STEP 4**: Extract the model parameters (weights) using `model.params()`

In [24]:
model = Model(seed = 42, num_fits = 1, parallel = True)
model.fit(data_path = 'ct.csv')
training_rmse = model.evaluate(data = ct_df)
training_auc = model.evaluate(data_path = "ct.csv", metric = 'auc')
model.params().loc['Plot non-terminating improper fraction']

                  value
param   class
prior   default 0.33259
learns  default 0.18757
guesses default 0.27265
slips   default 0.08974
forgets default 0.00000

 > **STEP 5**: Extract students' interaction with the items measuring `Plot non-terminating improper fraction` and then conduct **5-fold CV** to evaluate the model prediction accuracy (HINT: for model prediction you can use `model.predict()`

In [30]:
############## Your code here ################

# step 1: parse your data 



# step 2: define and fit your model (e.g., model.fit(data = `data name`))



# step 3: model predict 




# step 4: model evaluation 


############# You don't need to follow the structre I provided :) !

,Unnamed: 0,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,...,Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default),correct_predictions,state_predictions
773,84051,112149,0I891Gg,"Unit RATIONAL-IRRATIONAL-NUMBERS, Section RATI...",RATIONAL1-014,1,RationalNumberline1,2006-09-07 09:02:46.0,2006-09-07 09:03:11.0,2006-09-07 09:03:27.0,...,NaN,41.00000,0,1,0,1,Plot non-terminating improper fraction,1,0.52741,0.81204
780,84074,112172,0I891Gg,"Unit RATIONAL-IRRATIONAL-NUMBERS, Section RATI...",RATIONAL1-160,1,RationalNumberline1,2006-09-07 09:26:00.0,2006-09-07 09:26:28.0,2006-09-07 09:26:28.0,...,28.00000,NaN,1,0,0,1,Plot non-terminating improper fraction,2,0.42744,0.65206
15606,2105345,2808117,17116XP9,"Unit RATIONAL-IRRATIONAL-NUMBERS, Section RATI...",RATIONAL1-287,1,RationalNumberline1,2007-03-14 11:16:07.0,2007-03-14 11:16:26.0,2007-03-14 11:16:26.0,...,19.00000,NaN,1,0,0,1,Plot non-terminating improper fraction,1,0.52741,0.81204
15609,2105357,2808129,17116XP9,"Unit RATIONAL-IRRATIONAL-NUMBERS, Section RATI...",RATIONAL1-117,1,RationalNumberline1,2007-03-14 11:19:11.0,2007-03-14 11:19:23.0,2007-03-14 11:19:34.0,...,NaN,16.99900,0,3,1,1,Plot non-terminating improper fraction,2,0.64089,0.99364
15611,2105359,2808131,17116XP9,"Unit RATIONAL-IRRATIONAL-NUMBERS, Section RATI...",RATIONAL1-100,1,RationalNumberline1,2007-03-14 11:19:50.0,2007-03-14 11:20:04.0,2007-03-14 11:20:06.0,...,NaN,16.00000,0,2,0,1,Plot non-terminating improper fraction,3,0.63518,0.98451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1922,227708,304756,z7Zg3oy,"Unit RATIONAL-IRRATIONAL-NUMBERS, Section RATI...",RATIONAL1-249,1,RationalNumberline1,2006-09-08 09:05:06.0,2006-09-08 09:05:23.0,2006-09-08 09:05:41.0,...,NaN,33.00000,0,3,1,1,Plot non-terminating improper fraction,1,0.52741,0.81204
1923,227710,304758,z7Zg3oy,"Unit RATIONAL-IRRATIONAL-NUMBERS, Section RATI...",RATIONAL1-221,1,RationalNumberline1,2006-09-08 09:06:15.0,2006-09-08 09:06:29.0,2006-09-08 09:06:29.0,...,14.00000,NaN,1,0,0,1,Plot non-terminating improper fraction,2,0.42744,0.65206
1937,227743,304791,z7Zg3oy,"Unit RATIONAL-IRRATIONAL-NUMBERS, Section RATI...",RATIONAL1-123,1,RationalNumberline1,2006-09-08 09:33:14.0,2006-09-08 09:34:34.0,2006-09-08 09:34:34.0,...,80.00000,NaN,1,0,0,1,Plot non-terminating improper fraction,3,0.63578,0.98548
1966,230844,308769,zt5vuLM,"Unit RATIONAL-IRRATIONAL-NUMBERS, Section RATI...",RATIONAL1-221,1,RationalNumberline1,2006-09-08 09:09:29.0,2006-09-08 09:10:11.0,2006-09-08 09:10:11.0,...,42.00000,NaN,1,0,0,1,Plot non-terminating improper fraction,1,0.52741,0.81204
1974,230873,308798,zt5vuLM,"Unit RATIONAL-IRRATIONAL-NUMBERS, Section RATI...",RATIONAL1-007,1,RationalNumberline1,2006-09-08 09:23:37.0,2006-09-08 09:23:50.0,2006-09-08 09:23:50.0,...,13.00000,NaN,1,0,0,1,Plot non-terminating improper fraction,2,0.64089,0.99364