---
<h1><center>  Lab 2: Introduction to Python - Part 2 </center>
    <img src="https://files.realpython.com/media/real-python-video-courses-title-wide.daf71ae6460c.png" width="400">

> ```Created by Jinnie Shin (jinnie.shin@coe.ufl.edu)```\
> ```Date: ```
---

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmNf86oJnfhpkPA9LnrFnAbfwF2VywPYpB_w&usqp=CAU" align="left" width="70" height="70" align="left"> 

 ### Required Packages or Dependencies

In [1]:
import ipywidgets as widgets 
from ipywidgets import interact, interact_manual
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import matplotlib.pyplot as plt
import pandas as pd
import os

## 1. Importing a data file with ```Pandas```

### 1.1 load the house price dataset (csv file)

>  We will use ```pandas.read_csv``` to open a csv file from a desingated directory.
>  Excel files can be imported using ```pandas.read_excel```

In [19]:
input_dir = './data/'
filename = 'training_set_rel3.xlsx'
df = pd.read_excel(input_dir+filename)

In [18]:
@interact
def show_responses(column='essay_set', x=8):
    return df.loc[df[column] == x ][:5][['essay_id', 'essay_set', 'essay', 'domain1_score']]

interactive(children=(Text(value='essay_set', description='column'), IntSlider(value=8, description='x', max=2â€¦

## 2. Key Functions and Arguments in ```Pandas```
> ```pandas``` provide various functions and extensions so that we could manipulate and implement learning models using ```dataframe``` or ```df``` as inputs.

In [20]:
df.columns # list of column names

Index(['essay_id', 'essay_set', 'essay', 'rater1_domain1', 'rater2_domain1',
       'rater3_domain1', 'domain1_score', 'rater1_domain2', 'rater2_domain2',
       'domain2_score', 'rater1_trait1', 'rater1_trait2', 'rater1_trait3',
       'rater1_trait4', 'rater1_trait5', 'rater1_trait6', 'rater2_trait1',
       'rater2_trait2', 'rater2_trait3', 'rater2_trait4', 'rater2_trait5',
       'rater2_trait6', 'rater3_trait1', 'rater3_trait2', 'rater3_trait3',
       'rater3_trait4', 'rater3_trait5', 'rater3_trait6'],
      dtype='object')

In [ ]:
df.index # index number

revised list is ['Bye', 'my', 'name', 'is', 'jinnie']

> Dimension of the dataframe can be simply checked using ```len()``` or ```.shape()```

In [ ]:
print(len(df)) # the number of samples 
print(len(df.columns)) # the number of features

None

In [ ]:
df.shape # (N samples X N columns)

[6, 7, 8, 9]

In [ ]:
new_list.clear() # clear the list 
print(new_list)

[]

## 3. Subselecting or Slicing a dataframe <a class="anchor" id="matrix"></a>

> Subselecting and extracting rows based on row numbers ```df.iloc[index]```

In [21]:
start_row = 0
finish_row = 10
df.iloc[start_row:finish_row] # Extract row 0 to row 10

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,1,"Dear @LOCATION1, I think that computers have a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,1,Did you know that more and more people these d...,5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,1,@PERCENT1 of people agree that computers make ...,5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,1,"Dear reader, @ORGANIZATION1 has had a dramatic...",4.0,5.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,1,In the @LOCATION1 we have the technology of a ...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> subselecting a row using index (i.e. ID) ```df.loc[index]```

In [22]:
row_index = 9
df.loc[row_index] # Extract row with the ID 9

essay_id                                                         10
essay_set                                                         1
essay             In the @LOCATION1 we have the technology of a ...
rater1_domain1                                                  5.0
rater2_domain1                                                  4.0
rater3_domain1                                                  NaN
domain1_score                                                   9.0
rater1_domain2                                                  NaN
rater2_domain2                                                  NaN
domain2_score                                                   NaN
rater1_trait1                                                   NaN
rater1_trait2                                                   NaN
rater1_trait3                                                   NaN
rater1_trait4                                                   NaN
rater1_trait5                                                   NaN
rater1_trait6                                                   NaN
rater2_trait1                                                   NaN
rater2_trait2                                                   NaN
rater2_trait3                                                   NaN
rater2_trait4                                                   NaN
rater2_trait5                                                   NaN
rater2_trait6                                                   NaN
rater3_trait1                                                   NaN
rater3_trait2                                                   NaN
rater3_trait3                                                   NaN
rater3_trait4                                                   NaN
rater3_trait5                                                   NaN
rater3_trait6                                                   NaN
Name: 9, dtype: object

> Let's call the ```domain1_score``` column and look at the descriptive statistics using ```df.describe()```

In [ ]:
df['domain1_score'].describe() #you can either speciy the name of the column inside the square br
df.domain1_score.describe() #or .[column name] if the column name is one-word, thus no white space.

>   Let's extract rows based on column values, E.G., students who got score 9 or 5

In [29]:
print(len(set(df.domain1_score))) #  a total of 54 score categories
df[df['domain1_score']== 9]
df[(df['domain1_score']== 9) | (df['domain1_score']== 5)]

54

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,1,"Dear reader, @ORGANIZATION1 has had a dramatic...",4.0,5.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,1,In the @LOCATION1 we have the technology of a ...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,1,Do you think that computers are useless? Or do...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,1,"Dear Newspaper, Computers are high tec and hav...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12082,19376,7,When my friend was getting his meds I waited u...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12156,19456,7,The time iwas patent was when I was in schol I...,4.0,5.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12193,19497,7,I was patient when my mom when to the doctors ...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12196,19500,7,A time when my @CAPS1 was patient is to day la...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12238,19544,7,At the @CAPS1â€™s office. I had an @CAPS2 appoin...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,1,"Dear reader, @ORGANIZATION1 has had a dramatic...",4.0,5.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,1,In the @LOCATION1 we have the technology of a ...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,1,Do you think that computers are useless? Or do...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,1,"Dear Newspaper, Computers are high tec and hav...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12082,19376,7,When my friend was getting his meds I waited u...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12156,19456,7,The time iwas patent was when I was in schol I...,4.0,5.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12193,19497,7,I was patient when my mom when to the doctors ...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12196,19500,7,A time when my @CAPS1 was patient is to day la...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12238,19544,7,At the @CAPS1â€™s office. I had an @CAPS2 appoin...,5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 4. Applying a ```function``` directly to the dataframe
> We learned different types of string methods last time (e.g., ```string.lower()```). We will create a functionusing the string methods and directly apply it to the entities of the dataframe. 
    
    > dataframe[column].apply(function)
    > dataframe[column].apply(lambda x: function(x))

> First we will create a ```function``` called ```split_words```

In [35]:
def split_words(string): 
    string = string.lower() #lowercase
    return string.split(' ') #split words into a list

> Let's apply this function to the column ```essay``` (```df.essay``` or ```df['essay'] ```). We will use the `apply` function

In [37]:
df['essay_list'] = df.essay.apply(split_words)

<img src="https://i.pinimg.com/736x/2e/aa/7d/2eaa7d5021ca7c3c98bc93b98b9646fe.jpg" align="left" width="70" height="70" align="left">


### Task 1: Define a function and apply it to a dataframe
> Q1: Let's define another function (`count`) that counts the number of unique words in a list. \
> Q2: Let's apply the `count` function to `df['essay_list']`
    >- *What is the index number of the response with the most unique number of words?* `.argmax()`
    > Q3: Define a new `count` function that excludes the masked words (e.g.,`['@caps1', '@caps2', '@caps3', '@location1', '@location2', '@organization1', '@organization2']`

In [38]:
################### Your Code Here ############################
#Q1 ANSWER 
def count(lst):
    temp = set(lst)
    
    return len(list(temp))
###############################################################

In [45]:
################### Your Code Here ############################
#Q2 ANSWER 
df['word_count'] = df.essay_list.apply(count)

###############################################################

In [43]:
################### Your Code Here ############################
#Q3 ANSWER 
def count_new(lst):
    
    
    return 
###############################################################

0        [dear, local, newspaper,, i, think, effects, c...
1        [dear, @caps1, @caps2,, i, believe, that, usin...
2        [dear,, @caps1, @caps2, @caps3, more, and, mor...
3        [dear, local, newspaper,, @caps1, i, have, fou...
4        [dear, @location1,, i, know, having, computers...
                               ...
12973    [, in, most, stories, mothers, and, daughters,...
12974    [, i, never, understood, the, meaning, laughte...
12975    [when, you, laugh,, is, @caps5, out, of, habit...
12976    [, , , , , , , , , , , , , , , , , , , , , , ,...
12977    [, many, people, believe, that, laughter, can,...
Name: essay_list, Length: 12978, dtype: object

## 5. *Preliminary* Descriptive Analysis with `Pandas`

> Basic descriptive statistics using `df.max()`, `df.min()`, `df.mean()`, `df.mode()`

In [65]:
print(df.word_count.min())

2

In [66]:
print(df.word_count.max())

508

In [68]:
print(df.word_count.mean())

118.34674063800277

In [69]:
print(df.word_count.mode())

0    52
dtype: int64

> Correlation Analysis using `df.corr()`

In [61]:
# correlation beween X(word count) Y (domain1_score)
for i in list(set(df.essay_set)):
    value = df[df.essay_set==i].corr()['word_count']['domain1_score']
    print('correlation coefficient for essay set: ', i)
    print(round(value,2))

correlation coefficient for essay set:  1
0.83
correlation coefficient for essay set:  2
0.7
correlation coefficient for essay set:  3
0.71
correlation coefficient for essay set:  4
0.74
correlation coefficient for essay set:  5
0.82
correlation coefficient for essay set:  6
0.71
correlation coefficient for essay set:  7
0.71
correlation coefficient for essay set:  8
0.64