<h1><center>  lab 6: Social Network Analysis </center>
    
<img src="https://files.realpython.com/media/Python-AI-How-to-Build-Your-First-Neural-Network_Watermarked.68fe2ddda7ae.jpg" width="500">

```Created by Jinnie Shin (jinnie.shin@coe.ufl.edu)```\
```Date: May 26th 2022```

```Image source: https://realpython.com/python-encodings-guide/g```



<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmNf86oJnfhpkPA9LnrFnAbfwF2VywPYpB_w&usqp=CAU" align="left" width="70" height="70" align="left"> 

 ### Required Packages or Dependencies

In [2]:
#!pip install { } ! in case you run into the `package not avaialble` error
import numpy as np
import pandas as pd
import pyBKT # make sure you download this package first #
from pyBKT.models import Model

# Bayesian Knowledge Tracing
## Dataset
> We will use the `cognitivetutor` data. \
> Once you ran the following code, go back to your jupyter notebook directory to see whether your datasets (`ct.csv`) are stored correctly


### Fetch our dataset from github to your local desk

In [14]:
model = Model(seed = 42, num_fits = 1, parallel = True)

model.fetch_dataset('https://raw.githubusercontent.com/CAHLR/pyBKT-examples/master/data/ct.csv', '.')

### Let's import your dataset using `pandas`

In [19]:
#### Your code here #######
ct_df =pd.read_csv('ct.csv', encoding = 'latin')
ct_df.head()

#### Mini task 

# (1) How many students?


# (2) How many steps for each student (on average)?


# (3) How many types of knowledge components (KCs)?

,Unnamed: 0,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,1576,1927,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-001,1,SimplifiedNumeratorQuantity1,2006-11-14 10:18:00.0,2006-11-14 10:18:05.0,2006-11-14 10:18:05.0,2006-11-14 10:18:05.0,5.00000,5.00000,NaN,1,0,0,1,Calculate unit rate,1
1,1580,1931,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-001,1,SimplifiedNumeratorQuantity2,2006-11-14 10:18:11.0,2006-11-14 10:18:17.0,2006-11-14 10:18:34.0,2006-11-14 10:18:34.0,23.00000,NaN,23.00000,0,1,0,1,Calculate unit rate,2
2,1596,1947,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-012,1,SimplifiedNumeratorQuantity1,2006-11-14 10:50:52.0,2006-11-14 10:50:57.0,2006-11-14 10:51:11.0,2006-11-14 10:51:11.0,18.00000,NaN,18.00000,0,1,0,1,Calculate unit rate,3
3,1597,1948,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-012,1,SimplifiedNumeratorQuantity2,2006-11-14 10:51:11.0,2006-11-14 10:51:14.0,2006-11-14 10:51:14.0,2006-11-14 10:51:14.0,3.00000,3.00000,NaN,1,0,0,1,Calculate unit rate,4
4,1612,1963,745Yh,"Unit RATIO-PROPORTION, Section RATIO-PROPORTION-2",RATIO2-054,1,SimplifiedNumeratorQuantity2,2006-11-28 09:53:43.0,2006-11-28 09:53:47.0,2006-11-28 09:53:56.0,2006-11-28 09:53:56.0,13.00000,NaN,13.00000,0,1,0,1,Calculate unit rate,5

<img src="https://i.pinimg.com/736x/2e/aa/7d/2eaa7d5021ca7c3c98bc93b98b9646fe.jpg" align="left" width="70" height="70" align="left">

 ## Task 1: BKT usign pyBKT 
 > **STEP 1**: Load a bkt model - `model = Model(seed = 42, num_fits = 1, parallel = True)`\
 > **STEP 2**: Fit (Learn) model weights `model.fit(data_path = "ct.csv")`\
 > **STEP 3**: Evaluate the model fit `model.evaluate(data = ct_df)` for RMSE and `model.evaluate(data = ct_df, metri='auc')` for AUC.\
 > **STEP 4**: Extract the model parameters (weights) using `model.params()`

In [24]:
model = Model(seed = 42, num_fits = 1, parallel = True)
model.fit(data_path = 'ct.csv')
training_rmse = model.evaluate(data = ct_df)
training_auc = model.evaluate(data_path = "ct.csv", metric = 'auc')
model.params().loc['Plot non-terminating improper fraction']

                  value
param   class
prior   default 0.33259
learns  default 0.18757
guesses default 0.27265
slips   default 0.08974
forgets default 0.00000